*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #eff0f5;
}

.Manage-Account{
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  padding-top: 50px;
  font-size: 20px;
}
.edit{
  text-align: right;
  margin-right: 80px;
}

td{
  padding-right: 100px;
  padding-bottom: 15px;
}
table td{
  margin: 50px;
}

.boxes{
   display: flex;
   justify-content: center;
}

